
<div class="card-header2">
    <a class="text-decoration-none culoarebuna" href="/Profiles/Show/@ViewBag.profilid/"><i class="bi bi-person">@Model.User.UserName</i></a>
    <span class="float-end">@Model.PostDate.ToLongDateString()</span>
</div>




