@model LimeChat.Models.Profile
@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="cont">
        <a href="/Profiles/New">Add your own profile right now</a>
    </div>
</div>

@foreach (LimeChat.Models.Profile profile in ViewBag.Profiles)
{
    <div class="card">
        <a class="btn btn-success" href="/Profiles/Show/@profile.ProfileId">Afisare profil</a>
    </div>

}


